@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'partials/nav';

$header-font:'Oswald', sans-serif;
$body-font: 'Dosis', sans-serif;
$dark-gray: #333 !default;
$navigation-color: transparentize(white, 0.3);
$secondaryColor: #b3c2bf;

body {
  margin:0; 
}

.masthead-intro,
.masthead-heading {
  text-align: center;
  font-family: $header-font;
}

.masthead {
  padding: 4em 0;
  text-align: center;
}

.masthead-heading {
  margin-bottom: 0.1em;
  font-size: 4.0em;
}

.masthead-intro {
  margin-top: -0.2em;
}

.info {
  h1 {
    text-align: center;
  }
  h3{
    font-family: $header-font;
  }
}

.info-container {
  text-align:center;
  padding-bottom: 4.0em;
  h2{
    font-family: $header-font;
    background-color: $secondaryColor;
    padding: 0.5em 0;
    color:#fff;
  }
  p{
    font-family: $body-font;
  }
}

.info {
  vertical-align:top;
  display:inline-block;
  width: 30%;
  padding-left: 30px;
  box-sizing:border-box;
}

footer{
  text-align: center;
  color: $navigation-color;
  font-family: $header-font;
  padding:1.25em 0;
  background-color: $dark-gray;
}